body {
  width: 100vw;
  height: 100vh;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: #333;
  background: #eee;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.status-bar {
  width: 200px;
  padding: 6px 8px;
  font-size: 1.2em;
  color: #fff;
  background: #e80;
  border: 1px solid #aaa;
}
.container {
  text-align: center;
}

.tutorial-img {
  width: 20%;
  cursor: pointer;
}

.dialog {
  display: none; /* not visible by default */
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  background: #fff;
  margin: 0;
  position: absolute;
  transform: scale(0);
  transition: transform 0.5s ease;
}
.dialog .titlebar {
  height: 32px; /* same as .dialog>button height */
  line-height: 32px; /* same as .dialog>button height */
  vertical-align: middle;
  font-size: 1em;
  padding: 0 8px 0 8px; /* change NOT allowed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: move;
}
.dialog .content {
  position: absolute;
  top: 32px; /* change allowed */
  left: 16px; /* change NOT allowed */
  overflow: auto;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 85%;
}

.dialog .buttonset {
  float: right;
}

.dialog button::-moz-focus-inner {
  border: 0;
}
/* .dialog button.hover, */ /* Let's use standard hover */
.dialog button:hover,
.dialog button.active {
  cursor: pointer;
}

.dialog > button {
  width: 32px; /* change NOT allowed */
  height: 32px; /* same as .dialog .titlebar height */
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
  font-size: 1.4em;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop {
  position: absolute;
  bottom: 1px;
  right: 16px;
  height: 27px;
  width: 150px;
}
.pop img {
  width: 100%;
  cursor: pointer;
}

#vid1 {
  width: 100%;
  height: 100%;
}

#vid1 {
  width: 70%;
  float: left;
}
.vjs-playlist {
  width: 30%;
  float: right;
  margin: 0;
  font-size: 10px;
}

.preview-player-dimensions.vjs-fluid {
  padding-top: 41.66666666666667%;
}
